.post {
  &-header {
    font-size: 1rem;
    
    .inner {
      padding-bottom: 3rem;
      padding-top: 3rem;
    }
  }
  
  &-info {
    align-items: center;
    display: flex;
    margin-top: 1rem;
    
    @include breakpoint(small) {
      flex-wrap: wrap;
    }
  }
  
  &-meta {
    flex: 1;
  }
  
  &-author {
    font-size: 1.1rem;
  }
  
  &-date {
    display: block;
    opacity: 0.7;
  }
  
  &-external {
    margin-left: _size(element-margin);
    
    @include breakpoint(small) {
      margin-left: 0;
      margin-top: 1.333rem;
      width: 100%;
    }
  }
  
  &-actions {
    margin-left: _size(element-margin);

    @include breakpoint(small) {
      display: none;
    }
  }
  
  &-headshot {
    height: 3.5rem;
    margin-right: 0.75rem;
  }
  
  padding-bottom: 4rem;
  
  @include breakpoint(small) {
    padding-bottom: 3rem;
  }
  
  @media screen {
    font-size: 1.1rem;
    @include breakpoint(small) {
      font-size: 1rem;
    }
    
    &-header:not(.starts-with-figure) {
      border-bottom: 1px solid _palette(border);
      margin-bottom: 3rem;
    }
    
    > p, > blockquote, > ul, > ol,
    > h1, > h2, > h3, > h4, > h5, > h6,
    > .figure:not(.full), > .podcast {
      @include inner;
      max-width: 40rem; // line length
    }
  }
}

.post-listing {
  .post-author {
    font-size: 1rem;
  }
  
  &-link {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    
    > * {
      margin-bottom: 0;
    }
    
    @include breakpoint(small) {
      display: block;
      
      .button {
        display: none;
      }
    }
  }
  
  .post-info {
    margin: 0;
  }
  
  .title, .subtitle, .excerpt {
    overflow: hidden;
  }
  
  .subtitle {
    padding-bottom: 1rem;
  }
  
  .excerpt {
    display: block;
    padding-bottom: _size(element-margin);
    margin: 0;
  }
  
  .post-headshot {
    height: 2.75rem;
  }
  
  .post-image {
    border: none;
    display: block;
    box-sizing: content-box;
    margin-left: _size(element-margin);
    float: right;
    position: relative;
    width: 25%;
    
    &::before {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
    
    img {
      object-fit: cover;
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
    
    @include breakpoint(small) {
      float: none;
      margin: 0 0 1rem 0;
      height: 6rem;
      width: 100%;
    }
  }
}