{% if page.banner or layout.banner %}
<header role="banner"
  class="banner {{page.theme}}"
  {% if page.image %}
  style="background-image: url({{site.baseurl}}{{page.image}});"
  {% endif %}
>
  <div class="inner">
    {% if page.cta %}<div class="content">{% endif %}
    <h1{% if page.description %} class="major fit"{% endif %}>
      {{ page.title }}
    </h1>
    {% if page.cta %}
    <a href="{{page.cta.link}}" class="cta button special">{{page.cta.text}}</a>
    {% endif %}
    {% if page.cta %}</div>{% endif %}
    {% if page.last_modified_at %}
    <p class="caption">
      Last updated on {{ page.last_modified_at | date: '%B %-d, %Y' }}
    </p>
    {% endif %}
    {% if page.description %}
    {{ page.description | markdownify }}
    {% endif %}
  </div>
</header>
{% endif %}