<!-- Header -->
<header class="site-header{% if page.banner or page.header_alt %} alt {{page.theme}}{% endif %}">
	<a href="{% link index.html %}" class="logo"><span>{{ site.titleLeft }}</span> <strong>{{ site.titleRight }}</strong></a>
	<nav>
		<a href="#menu"><span>Menu</span></a>
	</nav>
</header>

<!-- Menu -->
<nav class="site-menu" id="menu">
  <div class="site-menu__wrap">
  	<ul class="links">
  	  {% for path in site.data.menu %}
    	  {% assign p = site.pages | where:"path",path | first %}
    	  <li><a href="{{p.url}}">{{p.title}}</a></li>
  	  {% endfor %}
  	</ul>
  	<ul class="actions vertical">
  		<li><a href="/petition" class="button special fit">Petition for Change</a></li>
  	</ul>
	</div>
</nav>
