<head>
	<title>
	  {% if page.title and page.path != 'index.html' %}
	  {{ page.title }} |
	  {% endif %}
    {{ site.title }}
	</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}" />
	<link rel="stylesheet" media="print" href="{{ "assets/css/print.css" | relative_url }}" />
	
	{% assign styles = layout.style %}
	{% if page.style %}{% assign styles = styles | append: ',' | append: page.style %}{% endif %}
	{% assign styles = styles | split: ',' %}
	{% for style in styles %}
  {% capture styleText %}{% include sass/{{style}} %}{% endcapture %}
  <style>{{ styleText | scssify | strip }}</style>
	{% endfor %}
	
	<script>
  	document.documentElement.classList.add('is-loading')
  	{% if site.donorbox %}window.DonorBox = { widgetLinkClassName: 'dbox-popup' }{% endif %}
  	
    WebFontConfig = {
      google: {
        families: ['Muli:400,400italic,700,700italic']
      },
      classes: false,
      active: function() {
        document.documentElement.classList.remove('is-loading')
        document.documentElement.classList.add('fonts-active')
      },
      inactive: function() {
        document.documentElement.classList.remove('is-loading')
      },
      timeout: 2000
    }
  </script>
  <script async src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
  
	{% if site.donorbox %}<script defer src="https://donorbox.org/install-popup-button.js"></script>{% endif %}
	<script defer src="{{ "/assets/js/main.js" | relative_url}}"></script>
</head>
