<head>
	<title>
	  {% if page.title and page.path != 'index.html' %}
	  {{ page.title }} |
	  {% endif %}
    {{ site.titleLeft }} {{ site.titleRight }}
	</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}" />
	<link rel="stylesheet" media="print" href="{{ "assets/css/print.css" | relative_url }}" />
	
	{% assign styles = layout.style %}
	{% if page.style %}{% assign styles = styles | append: ',' | append: page.style %}{% endif %}
	{% assign styles = styles | split: ',' %}
	{% for style in styles %}
  {% capture styleText %}{% include sass/{{style}} %}{% endcapture %}
  <style>{{ styleText | scssify | strip }}</style>
	{% endfor %}
	
	<script>
  	document.documentElement.classList.add('is-loading')
  	{% comment %}
  	{% if page.path != "index.html" %}
  	if (sessionStorage && sessionStorage.getItem('previous') === '{% link index.html %}') {
  	  document.documentElement.classList.add('is-from-home')
  	}
  	{% endif %}
  	{% endcomment %}
  	
    WebFontConfig = {
      google: {
        families: ['Source Sans Pro:300,300italic,600,600italic']
      },
      classes: false,
      active: function() {
        document.documentElement.classList.remove('is-loading')
        document.documentElement.classList.add('fonts-active')
      },
      inactive: function() {
        document.documentElement.classList.remove('is-loading')
      },
      timeout: 2000
    }
    
    ;(function(d) {
      const wf = d.createElement('script'), s = d.scripts[0]
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js'
      wf.async = true
      s.parentNode.insertBefore(wf, s)
    })(document)
  </script>
</head>
