<!-- Header -->
<header class="site-header{% if page.banner or layout.banner or page.header_alt %} alt {{page.theme}}{% endif %}">
	<a class="logo"
	  href="{% link index.html %}"
	  {% comment %}
	  {% if page.path != "index.html" %}
	  onclick="return sessionStorage && sessionStorage.getItem('previous') === '{% link index.html %}' ? window.history.back() || false : undefined"
	  {% endif %}
	  {% endcomment %}
	>
	  {% comment %}
	  {% if page.path != "index.html" %}
	  {% include icon.html icon="left" %}
	  {% endif %}
	  {% endcomment %}
	  <span>{{ site.titleLeft }}</span> <strong>{{ site.titleRight }}</strong>
	</a>
	<nav>
		<a href="#menu"><span>Menu</span></a>
	</nav>
</header>

<!-- Menu -->
<nav class="site-menu" id="menu">
  <div class="site-menu__wrap">
  	<ul class="links">
  	  <li><a href="{% link index.html %}">Home</a></li>
  	  <li><a href="{% link pages/about.md %}">About</a></li>
  	  <li><a href="{% link _posts/2019-12-18-manifesto.md %}">Manifesto</a></li>
  	  {% comment %}<li><a href="/">Articles/Podcast</a></li>{% endcomment %}
  	  <li><a href="{% link pages/alternatives.md %}">Alternative Technology</a></li>

  	  <li><a href="{% link pages/speaking.md %}">Speaking</a></li>
  	</ul>
  	{% comment %}
  	<ul class="actions vertical">
  		<li><a href="/petition" class="button special fit">Petition for Change</a></li>
  	</ul>
  	{% endcomment %}
	</div>
</nav>