{% assign post = include.post %}
<article class="post-listing">
  <div class="inner">
    {% if include.link %}
    <div class="post-listing-link">
      <h2 class="major">Latest Article</h2>
      <a href="{% link articles.html %}" class="button next">Articles & Podcast</a>
    </div>
    {% endif %}
    {% if post.image %}
    <a class="post-image" href="{{post.url}}">
      <img src="{{post.image | prepend: post.url}}" alt="" />
    </a>
    {% endif %}
    <a class="h2 title" href="{{post.url}}">{{post.title}}</a>
    {% if post.subtitle %}
    <a class="h3 subtitle" href="{{post.url}}">{{post.subtitle}}</a>
    {% endif %}
    {% if post.excerpt %}
    <a href="{{post.url}}" class="excerpt">{{post.excerpt}}</a>
    {% endif %}
    <div class="post-info">
      {% assign author = site.data.authors[post.author] %}
      <img src="{{author.headshot | relative_url}}" class="headshot post-headshot" alt="{{author.name}} headshot" />
      <div class="post-meta">
        <a href="{{author.url}}" class="post-author" rel="author">{{author.name}}</a>
        <time datetime="{{post.date | date: "%F"}}" class="post-date" pubdate>{{post.date | date: "%A, %B %e, %Y" }}</time>
      </div>
    </div>
  </div>
</article>