.external {
  > * {
    vertical-align: middle;
  }
  
  .label {
    margin-right: 1.333rem;
  }
  
  @include breakpoint(small) {
    .label {
      display: block;
      margin-bottom: 0.35rem;
    }
  }
  
  > a {
    display: inline-block;
    font-size: 1.5rem;
    text-decoration: none;
    border: none;
    line-height: 1;
    margin-right: 1.333rem;
    
    .icon svg {
      display: block;
    }
    
    &:last-child {
      margin-right: 0;
    }
  }
}