.podcast {
  height: 104px;
  margin-bottom: _size(element-margin);
  width: 100%;
  
  &.full {
    height: 161px;
  }
}

.headshot {
  border-radius: 100%;
}

.figure {
  margin: 0 auto _size(element-margin);
  max-width: 2560px;
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  &.full figcaption {
    @include inner;
  }
  
  .imgs {
    align-items: stretch;
    display: flex;
    
    > * {
      flex: 1;
      padding-left: 0.375rem;
      padding-right: 0.375rem;
    }
    
    > :first-child {
      padding-left: 0;
    }
    
    > :last-child {
      padding-right: 0;
    }
    
    @supports(object-fit: cover) {
      > :not(:first-child) {
        position: relative;
  
        img {
          object-fit: cover;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
        }
      }
    }
    
    @include breakpoint(xsmall) {
      display: block;
      
      img {
        position: static !important;
        height: auto !important;
      }
      
      > * {
        padding: 0;
        
        + * {
          margin-top: 0.375rem;
        }
      }
    }
  }
}