<!-- Header -->
<header class="site-header{% if page.header_alt %} alt {{page.theme}}{% endif %}">
	<a href="{{ "" | absolute_url }}/" class="logo"><span>{{ site.titleLeft }}</span> <strong>{{ site.titleRight }}</strong></a>
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->
<nav class="site-menu">
  <div class="site-menu__wrap">
  	<ul class="links">
  	  <li><a href="/">Home</a></li>
      <li><a href="{% link about.md %}">About</a></li>
      <li><a href="{% link problem.md %}">The Problem</a></li>
      <li><a href="{% link solution.md %}">The Solution</a></li>
      <li><a href="{% link recommended-products.md %}">Recommended Products</a></li>
      {% comment %}<li><a href="{% link speaking.md %}">Speaking</a></li>{% endcomment %}
      {% comment %}<li><a href="{% link blog.html %}">Latest Updates</a></li>{% endcomment %}
  	</ul>
  	<ul class="actions vertical">
  		<li><a href="{{site.petition_url}}" class="button special fit">Petition for Change</a></li>
  		{% comment %}<li><a href="#" class="button fit">Get Involved</a></li>{% endcomment %}
  	</ul>
	</div>
</nav>
