{% for category in site.data.products %}
<h2 class="major">{{category.category}}</h2>
{% if category.description %}{{category.description | markdownify}}{% endif %}
{% if category.products %}
  <section class="spotlights">
    {% for product in category.products %}
  	<article>
  		<div class="image">
  			<img src="{{site.baseurl}}{{product.image}}" alt="{{product.name}}" />
  		</div>
  		<div class="content">
  			<div class="inner">
  				<h3>{{product.name}}</h3>
  				{{product.description | markdownify }}
  			</div>
  		</div>
  	</article>
  	{% endfor %}
  </section>
  {% endif %}
{% endfor %}