---
layout: default
---

<main role="main" id="main" class="alt">
  
  <section id="story">
  	<div class="inner">
  		<h1 class="major">{{page.tile_title | default: page.title}}</h1>
  		<div class="row">
        <div class="8u 12u$(medium)">
          {{content}}
        </div>
        <div class="4u 12u$(medium)">
          {% assign max = site.data.authors.max %}
          <img class="headshot" src="{{max.headshot | relative_url}}" alt="{{max.name}} headshot" />
        </div>
      </div>
    </div>
  </section>
  <section id="mission" class="banner style6">
    <div class="inner">
      <h2 class="major">Mission</h2>
      <div class="content">
        {{page.mission}}
      </div>
    </div>
  </section>
  {% comment %}
  <section id="consultants">
    <div class="inner">
      <h2 class="major">Research Consultants</h2>
      <div class="row">
        {% for consultant in site.data.consultants %}
          <div class="3u 6u$(medium)">
            <div class="image fit">
              <img src="{{consultant.headshot}}" alt="{{consultant.name}}" />
            </div>
            <h3>{{consultant.name}}</h3>
            <p>{{consultant.title}}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% endcomment %}
  {% if page.acknowledgments %}
  <section id="consultants">
    <div class="inner">
      <h2 class="major">Acknowledgments</h2>
      {{page.acknowledgments}}
    </div>
  </section>
  {% endif %}
  
</main>