---
layout: default
---

<main role="main" id="main">

  <div class="inner">
    {% unless page.banner %}
    <h1 class="major">{{page.title}}</h1>
    {% endunless %}
    {% if page.print-only == false %}
    {{content}}
    {% else %}
    <div class="box no-print">
      <p>The Internet is great; screens we view it on aren't. To not contribute to the growing screen addiction crisis, this article is available for print or in audio format on The New Digital Podcast.</p>
      
      {% assign words = content | number_of_words %}
      <button onclick="print()" class="button big fit special">
        {% include icon.html icon="print" %}
        <div>
          Print article<br/>
          <span class="label">
            ({% if words < 360 %}<1{% else %}{{ words | divided_by:180 }}{% endif %} min read)
          </span>
        </div>
      </button>
    </div>
    <div class="print-only">
	  {{ content }}
	  </div>
	  {% endif %}
	</div>

</main>