---
layout: default
---

{% include banner.html %}

<main role="main" id="main">

  <div class="inner">
    {% unless page.banner %}
    <h1 class="major">{{page.title}}</h1>
    {% endunless %}
    {% if page.print-only == false %}
    {{content}}
    {% else %}
    <div class="box no-print">
      <p>To not contribute to the growing screen addiction crisis, this article is available for print or in audio format on The New Digital Podcast.</p>
      <button onclick="print()" class="button big fit special icon fa-print">Print article</button>
    </div>
    <div class="print-only">
	  {{ content }}
	  </div>
	  {% endif %}
	</div>

</main>