---
layout: default
banner: true
---

<main role="main" id="main">

  <div class="inner">
    <div class="box no-print">
      <p>
        Screens introduce unintentional cognitive effects, as discussed in
        {% if page.title == 'Manifesto' %}this article{% else %}<a href="/manifesto">our manifesto</a>{% endif %}. For that reason, this article is available in print{% if page.podcast %} or audio format on <a href="/podcast">The New Digital Podcast</a>{% endif %}.
      </p>
      
      {% if page.podcast %}
      <iframe class="podcast"
        src="{{page.podcast}}"
        onload="this.classList.add('loaded')"
        frameborder="0" scrolling="no"
      ></iframe>
      {% endif %}
      
      <button onclick="print()" class="button big fit special">
        {% assign words = content | number_of_words %}
        {% include icon.html icon="print" %}
        <div>
          Print article<br/>
          <span class="label">
            {% if words < 360 %}<1{% else %}{{ words | divided_by:180 }}{% endif %} min read
          </span>
        </div>
      </button>
    </div>
    <article class="print-only">
	  {{ content }}
	  </article>
	</div>

</main>