---
---

*, *::before, *::after {
  background: none !important;
  box-shadow: none !important;
  color: #000 !important;
  animation: none !important;
  transition: none !important;
}

@page {
  margin: 0.5in 0.65in;
}

:root {
  font-size: 12pt;
  line-height: 1.5;
}

[role="main"] {
  > * {
    border: none !important;
  }
  
  a[href]:not(.footnote):not(.reversefootnote)::after {
    content: ' ('attr(href)')';
    word-break: break-word;
  }
  
  a[href^="/"]:not(.footnote):not(.reversefootnote)::after {
    content: ' ({{site.url}}'attr(href)')';
  }
  
  a.footnote {
    border-bottom: none;
  }
  
  a.reversefootnote {
    display: none;
  }
}

h1 {
  font-size: 2em !important;
}

h2 {
  font-size: 1.5em !important;
}

h3 {
  font-size: 1.2em !important;
}

h4 {
  font-size: 1em !important;
}

blockquote {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.logo {
  line-height: 1 !important;
  padding: 0 !important;
}

.inner {
  margin: 0 0 3em !important;
  padding: 0 !important;
  width: auto !important;
}

.site-header nav, #contact, .no-print {
  display: none !important;
}

.site-header {
  height: auto !important;
  position: static !important;
  margin-bottom: 0.5in !important;
}

  body {
    padding: 0 !important;
  }

.banner {
  border-bottom: 1px dotted gray !important;
  height: auto !important;
  min-height: 0 !important;
  margin: 0 0 1.5em !important;
  padding: 0 0 1.5em !important;
  position: static !important;
  
  .inner {
    margin: 0 !important;
  }
}

.major {
  width: -moz-max-content !important;
	width: -webkit-max-content !important;
	width: -ms-max-content !important;
	width: max-content !important;
}

.print-only {
  display: block !important;
}
