---
layout: default
title: Home
header_alt: true
---

<!-- Banner -->
<header id="banner" class="banner primary">
  <div class="inner">
    <h1 class="major fit">
      {% comment %}<span class="label">{% include icon.html icon="star" %}Start here</span><br/>{% endcomment %}
      Digital technology as it should be 🎉
    </h1>
    <div class="content">
      <p>Alternative screens let us reap all the incredible benefits of screen technology without the unintended side effects&mdash;<strong>including addiction</strong>.</p>
      <a href="/overview" class="cta button next special">Learn more</a>
    </div>
  </div>
</header>

<!-- Main -->
<main role="main" id="main">
  
  <section class="tiles">
    {% include tile.html page='pages/about.md' %}
    {% include tile.html page='recommended-products.html' %}
  </section>

</main>
