---
layout: default
title: Home
header_alt: true
---

<!-- Banner -->
<header id="banner" class="banner primary">
  <div class="inner">
    {% assign manifesto = site.posts | where:"title","Manifesto" | first %}
    <h1 class="major fit">
      <span class="label">{% include icon.html icon="star" %}Start here</span><br/>
      {{manifesto.tile_title | default: manifesto.title}}
    </h1>
    <div class="content">
      {{manifesto.description|markdownify}}
      <a href="{{ manifesto.url }}" class="cta button next special">{{manifesto.title}}</a>
    </div>
  </div>
</header>

<!-- Main -->
<main role="main" id="main">
  
  <section class="tiles">
    {% include tile.html page='pages/about.md' %}
    {% include tile.html page='pages/alternatives.md' %}
  </section>

</main>
