---
layout: default
title: Home
header_alt: true
---

<!-- Banner -->
<header id="banner" class="banner primary">
  <div class="inner">
    {% assign problem = site.pages | where:"path","pages/problem.md" |first %}
    <h1 class="major fit">{{problem.tile_title | default: problem.title}}</h1>
    <div class="content">
      {{problem.description|markdownify}}
      <ul class="actions">
        <li><a href="{{ problem.url }}" class="button next">{{problem.title}}</a></li>
      </ul>
    </div>
  </div>
</header>

<!-- Main -->
<main role="main" id="main">
  
  <section class="tiles">
    {% include tile.html page='pages/about.md' %}
    {% include tile.html page='pages/solution.md' %}
    <article class="tile style3">
      <h3 class="tile__title major">Take Action</h3>
      <p>Current solutions already exist, and we can take simple immediate steps to incentivize more.</p>
      <ul class="actions">
        <li><a href="{% link pages/recommended-products.md %}" class="button next scrolly">Recommended Products</a></li>
        <li><a href="/petition" class="button special">Petition for Change</a></li>
      </ul>
    </article>
  </section>

</main>
