---
layout: default
title: Recommended Products
description: >-
  Alternative screen products are harder to find, but they do exist and some are full-featured enough to use in place of conventional screens.
banner: true
theme: style1
last_modified_at: 2020-01-13
---

<!-- Gradients -->
<svg xmlns="http://www.w3.org/2000/svg" style="position: absolute; pointer-events: none; opacity: 0; left: 0; top: 0; height: 0; width: 0;">
  <defs>
    <linearGradient id="gradient-color" x1="0" x2="70" y1="0" y2="0" gradientUnits="userSpaceOnUse" >
      <stop stop-color="#ec8d81" offset="0%"/>
      <stop stop-color="#6fc3df" offset="100%"/>
    </linearGradient>
    <linearGradient id="gradient-grayscale" x1="0" x2="130" y1="0" y2="0" gradientUnits="userSpaceOnUse" >
      <stop stop-color="gray" offset="0%"/>
      <stop stop-color="white" offset="100%"/>
    </linearGradient>
  </defs>
</svg>

<main role="main" id="main">

  <div class="inner">
    <div class="box">
      <p>
      I don't make any commission on these products, and I'm not affiliated with their manufacturers. I'm only trying to keep the most up-to-date list of healthier screen-based products.
      </p>
      {% if page.last_modified_at %}
      <p class="post-date">
        Last updated on {{ page.last_modified_at | date: '%B %-d, %Y' }}
      </p>
      {% endif %}
    </div>

  {% for category in site.data.products %}
    {% unless forloop.first %}<div class="inner">{% endunless %}
      <h2 class="major">{{category.category}}</h2>
      {% if category.description %}{{category.description | markdownify}}{% endif %}
    </div>
    {% if category.products %}
      <section class="spotlights">
        {% for product in category.products %}
      	<article id="{{product.name | slugify}}">
      		<div class="image">
      			<img src="{{product.image | relative_url}}" alt="{{product.name}}" />
      		</div>
      		<div class="content">
      			<div class="inner">
      			  {% if product.display %}
      			  <svg height="15" width="100">
      		      <text x="0" y="10" class="label" fill="url(#gradient-{{product.display}})">{{product.display}}</text>
      		    </svg>
      		    {% endif %}
      				<h3>{{product.name}}</h3>
      				{{product.description | markdownify }}
      				{% if product.actions %}
      				<ul class="actions">
      				{% for action in product.actions %}
      				  <li><a href="{{action.url}}" class="button{% if action.special %} special{% endif %}">{{action.label}}</a></li>
      				{% endfor %}
      				</ul>
      				{% endif %}
      				{% if product.image_credit %}
      				<p class="caption">Image credit: {{product.image_credit}}</p>
      				{% endif %}
      			</div>
      		</div>
      	</article>
      	{% endfor %}
      </section>
    {% endif %}
  {% endfor %}

</main>
